
     *{
        margin:0%;
        padding:0%;

     }
     #header{
        width:100vw;
        height:10vh;
        border: 2px solid black;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position:fixed;
        background-color:#1C1C1C;
        color: white;
        font-size: larger;
        font-weight: 500;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        overflow: hidden;
        }
        #feature{
            margin-right: 30px;
        }
        #logo{
            width: 60px;
            height: 7vh;
            border-radius: 50%;
            background-color: antiquewhite;
            overflow: hidden;
        }
        #logo img{
            
            width: 60px;
            height: 7vh;
            object-fit:cover;
        }
    #fakeheader{
        width:100vw;
        height:10vh;
        border: 2px solid black;
        background-color: blue;
    }

    
    .icon{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #icon{
        margin: 10px 10px;
        text-align: center;
        width: 80px;
        height: 30px;
        border: 2px solid black;
        border-radius: 15px;
        color: wheat;
        background-color: rgba(42, 164, 42, 0.995);
        overflow: hidden;
    }
    #feature:hover{
        transform: scale(1.22,1.22);
    }
    #icon:hover{
        transform: scale(1.22,1.22);
        background-color: green;
    }
    a{
        text-decoration: none;
        color: wheat;
    }
 
    #highlight1{
        animation-delay: 0s;
    }
    #page1{
        width:100vw;
        height: auto;
        margin: 10px;
      
    }
    #page2{
        margin-top: 10px;
        width: 100vw;
        height: auto;
      
    }
    #name{
        text-align: center;
        font-size: larger;
        font-weight: 100;
        font-style: italic;
    }
    .photo1{
       
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top:10px;
        margin-bottom: 10px;
       

    }
    .contact{
        display: flex;
        
       justify-content: space-between;
    }
    input{
        font-size: larger;
        font-weight: 400;
    }
    button{
        font-size: larger;
        font-weight: 400;
        background-color:chocolate;
    }
    .photo2{
       
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top:10px;
        margin-bottom: 10px;
    }
    #box1
    {   
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
     #box2
    {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
     #box3
    {
           display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
     #box4
    {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    #box5
    {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    #box6
    {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    #pho1{
        
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho1 img{
        width:100%;
        height: 100%;
       
        object-fit: cover;
        
    }
    #details{
        /* display: flex;
        justify-content:space-between; */
        font-size: small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: space-around;
        
      
    }
    #Buy{

        width: auto;
        height: 28px;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 50px;
        background-color: #1C1C1C;
        color: white;
    }
    #Buy p{
        padding-top: 6px;
        text-align: center;
    }
     #pho2{
       
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho2 img{
        width:100%;
        height: 100%;

        object-fit: cover;
        
    }
     #pho3{
       
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho3 img{
        width:100%;
        height: 100%;

        object-fit: cover;
        
    }
     #pho4{
       
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho4 img{
        width:100%;
        height: 100%;

        object-fit: cover;
        
    }
    #pho5{
       
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho5 img{
        width:100%;
        height: 100%;

        object-fit: cover;
        
    }
    #pho6{
       
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho6 img{
        width:100%;
        height: 100%;

        object-fit: cover;
        
    }
    #box31
    {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    #pho31{
        
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho31 img{
        width:100%;
        height: 100%;
        object-fit: cover;
        
    }
    #box61
    {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 15vw;
        height:55vh;
        border:2px solid black;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    #pho61{
        
        width: 15vw;
        height: 80%;
        border: 2px solid black;
        border-radius: 5%;
        overflow:hidden;
    }

    #pho61 img{
        width:100%;
        height: 100%;
       
        object-fit: cover;
        
    }
    #Buy:hover{
        transform: scale(1.22,1.22);
    }

    #more{
       
        width: auto;
        height: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
       
    }
    #more p{
        margin: 40px 20px;
        text-align: center;
        width: auto;
        height: 30px;
        border: 2px solid black;
        background-color:#1C1C1C;
        border-radius: 5px;
        color: white;
    }
    #more p:hover{
        transform: scale(1.22,1.22);
    }
    #Brands{
        margin: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:xx-large;
        font-weight: 800;
       font-style: italic;
    }
    #logo1{
        width:100%;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    #chotebrand{
    margin: 25px 20px;
     width: auto;
     height: 30px;
     display: flex;
     justify-content: space-evenly;
     border-radius: 5px;
    }
     #logo2{
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    #more1 p{
        font-size: large;
        font-weight: 400;
        font-style: italic;
        margin-top: 25px;
        text-align: center;
        width: 100%;
        height: 30px;
        border: 2px solid black;
        background-color:#1C1C1C;
        border-radius: 5px;
        color: white;
    }
    #more1 p:hover{
        transform: scale(1.22,1.22);
    }
    #inform{
        margin-top: 40px;
        width: 100vw;
        height:90px;
        border: 2px solid black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }
    #return{
         width: auto;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        font-size: x-large;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #return img{
        height: 70px;
    }
     #customer{
    
        width: auto;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        font-size: x-large;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #customer img{
        height: 70px;
    }
     #rating{
         width: auto;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        font-size: x-large;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #rating img{
        height: 70px;
    }
    #aboutus{
        margin-top: 30px;
        width:100%;
        height:auto;
        display:flex ;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid black;
        background-color: whitesmoke;
        font-size: larger;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #download
    {
        width: 400px;
        height: auto;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
        
    }
    #download img{
        margin-bottom: -10px;
        padding-bottom: -10px;
        width: 200px;
        height: 110px;
        object-fit: cover;

    }
    